body{
    background-color: #222;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.meme-div{
    margin: auto;
    width: 50%;
    height: 50%;
}
.meme-title{
    font-weight: bold;
    font-size: 1.2em;
}
.meme-title, .meme-footer{
    padding: 1em;
    color: #fff;
    text-align: center;
}
.meme-footer{
    margin-top: 5em;
}
.meme-img{
    width: 100%;
    height: 100%;
}
.form-part{
    display: flex;
    align-items: center;
}
form{
    margin-bottom: 4em;
}
label{
    color: #fff;
    margin: .5em;
}
input{
    width: 50%;
    height: 10%;
}
span{
    color: #000;
    font-size: 1.5em;
}
#img-top-text{
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: -75px;
    font-size: 2em;
}
#img-bottom-text{
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: -75px;
    font-size: 2em;
}